header {
  width: 99vw;
  height: 14vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

header .header-title {
  width: 50%;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
header .menu {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
header .menu .about {
  padding: 0px 40px;
}
header .menu .stacks {
  padding: 0px 40px;
}
@media screen and (max-width: 900px) {
  header .menu .about {
    padding: 0px 5px;
  }
  header .menu .stacks {
    padding: 0px 5px;
  }
}
