.reactnative-sourcecode {
  background-color: #050807;
  border-radius: 40px;
  padding: 14px;
  font-size: 25px;
  margin: 10px;
}
.reactnative-works {
  background-color: #050807;
  border-radius: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 25px;
  margin: 10px;
  font-weight: 200;
  text-align: center;
}
.reactnative-works span {
  line-height: 1.5;
}
.reactnative-works .qrcode {
  width: 230px;
  height: 230px;
  background-image: url("../qrcode.png");
  background-size: cover;
}
.reactnative-logo {
  width: 200px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1512511708753-3150cd2ec8ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-left: 90px;
  margin-right: 20px;
}
.reactnative-clone {
  font-weight: 200;
  font-size: 40px;
  margin-top: -5px;
  margin-right: 20px;
}
