.reactnative-sourcecode {
  background-color: #050807;
  border-radius: 40px;
  padding: 14px;
  font-size: 25px;
  margin: 10px;
}
.reactnative-works {
  background-color: #050807;
  border-radius: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 25px;
  margin: 10px;
  font-weight: 200;
  text-align: center;
}
.reactnative-works span {
  line-height: 1.5;
}
.reactnative-works .qrcode {
  width: 230px;
  height: 230px;
  background-image: url("../qrcode.png");
  background-size: cover;
}
.reactnative-logo {
  width: 200px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1512511708753-3150cd2ec8ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-left: 90px;
  margin-right: 20px;
}
.reactnative-clone {
  font-weight: 200;
  font-size: 40px;
  margin-top: -5px;
  margin-right: 20px;
}

@media screen and (max-width: 1800px), screen and (max-height: 850px) {
  .reactjs-content {
    font-size: 20px;
  }
  .reactnative-sourcecode {
    font-size: 12px;
  }
  .reactnative-works {
    font-size: 12px;
  }
  .reactnative-clone {
    font-size: 20px;
  }
  .reactnative-logo {
    width: 0px;
    height: 0px;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 500px) {
  .reactnative-logo {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .reactnative-works .qrcode {
    width: 150px;
    height: 150px;
  }
  .reactnative-clone {
    margin-right: 0px;
    margin-top: 30px;
  }
  .reactnative-sourcecode {
    padding: 1px 5px;
    margin: 5px;
  }
  .reactnative-works {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
  }
  .reactjs-content {
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-left: 0.2px solid white;
  }
}
