.reactjs-sourcecode {
  background-color: #050807;
  border-radius: 40px;
  padding: 14px;
  font-size: 25px;
  margin: 10px;
}
.reactjs-works {
  background-color: #050807;
  border-radius: 40px;
  padding: 14px;
  font-size: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reactjs-logo {
  width: 270px;
  height: 270px;
  background-image: url("https://external-preview.redd.it/fdkqLmQJyhAIVu-kuccpVRtJQLjg9XAcH01ABTxr1LU.png?auto=webp&s=5fce8c27f55668b1ff30df66f25ab9b865b8d041");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-left: 90px;
  margin-right: 20px;
}
.reactjs-clone {
  font-weight: 200;
  font-size: 40px;
  margin-right: 20px;
}

.reactjs-content {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding-left: 60px;
  font-weight: 200;
  font-size: 30px;
  border-left: 0.5px solid white;
}
.reactjs-content .span-title {
  font-weight: 400;
  font-size: 30px;
}

@media screen and (max-width: 1800px), screen and (max-height: 850px) {
  .reactjs-content {
    font-size: 20px;
  }
  .reactjs-sourcecode {
    font-size: 12px;
  }
  .reactjs-works {
    font-size: 12px;
  }
  .reactjs-clone {
    font-size: 20px;
  }
  .reactjs-logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 500px) {
  .reactjs-logo {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .reactjs-clone {
    margin-right: 0px;
    margin-top: 10px;
  }
  .reactjs-sourcecode {
    padding: 1px 5px;
    margin: 5px;
  }
  .reactjs-works {
    padding: 1px 5px;
    margin: 5px;
  }
  .reactjs-content {
    margin-left: 0px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-left: 0.2px solid white;
  }
}
