.stack-container {
  width: 88vw;
  height: 78vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
  animation: appearText 1s ease-in-out forwards;
}
.stack {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040707;
  margin: 10px 10px;
}
.nodejs {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  background-image: url("https://pluralsight2.imgix.net/paths/images/nodejs-45adbe594d.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.react {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  background-image: url("https://miro.medium.com/max/500/1*cPh7ujRIfcHAy4kW2ADGOw.png");
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.python {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  background-image: url("https://www.python.org/static/opengraph-icon-200x200.png");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center;
}
.unity {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  background-image: url("https://unity3d.com/profiles/unity3d/themes/unity/images/pages/branding_trademarks/unity-tab-square-black.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1050px) {
  .stack-container {
    margin-top: 20px;
    align-content: center;
  }
  .stack {
    margin: 5px;
  }
  .nodejs {
    width: 100px;
    height: 100px;
  }
  .react {
    width: 100px;
    height: 100px;
  }
  .python {
    width: 100px;
    height: 100px;
  }
  .unity {
    width: 100px;
    height: 100px;
  }
}
