@import "header.css";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap");
@import "mainbody.css";
@import "about.css";
@import "stacks.css";
@import "nodejs.css";
@import "socket.css";
@import "react.css";
@import "native.css";
@import "python.css";
@import "unity.css";
body {
  box-sizing: border-box;
  width: 98.44vw;
  height: 100vh;

  background-color: #0c0a0a;
  color: white;

  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: #1e1f21;
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 32px;
  color: white;
}
#no-mobile .least {
  font-weight: 200;
  font-size: 20px;
}

#no-mobile {
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 24px;
  }
  .summary {
    font-size: 12px;
  }
}
