.unity-sourcecode {
  background-color: #050807;
  border-radius: 40px;
  padding: 14px;
  font-size: 25px;
  margin: 20px;
}
.unity-logo {
  width: 200px;
  height: 200px;
  background-image: url("../earthplay.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-left: 120px;
  margin-right: 40px;
}
.unity-clone {
  font-weight: 200;
  font-size: 40px;
  margin-right: 20px;
}
.unity-content {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  padding-left: 60px;
  font-weight: 200;
  font-size: 30px;
  border-left: 0.5px solid white;
}
.unity-content .span-title {
  font-weight: 400;
  font-size: 30px;
}
@media screen and (max-width: 1800px), screen and (max-height: 850px) {
  .unity-content {
    font-size: 20px;
  }
  .unity-sourcecode {
    font-size: 12px;
  }
  .unity-works {
    font-size: 12px;
  }
  .unity-clone {
    font-size: 20px;
  }
  .unity-logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 500px) {
  .unity-logo {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .unity-clone {
    margin-right: 0px;
    margin-top: 10px;
  }
  .unity-sourcecode {
    padding: 1px 5px;
    margin: 5px;
    margin-top: 20px;
  }
  .unity-works {
    padding: 1px 5px;
    margin: 5px;
  }
  .unity-content {
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-left: 0.2px solid white;
  }
}
